@model List<string>
@{
    ViewData["Title"] = "GetCategory";
}

<div class="container">
    <div>
        <h1>Kategoriler</h1>
            @foreach(var item in Model)
            {
                <li>
            <a href="/Home/ProductsByCategory?category=@item">@item</a> 
                 </li>
            }
       
    </div>

</div>