@{
    ViewData["Title"] = "Index";
    List<BlogModel> bloglist = (List<BlogModel>)ViewData["BlogModelList"];
}
<h1
    style=" justify-content: center;  display: flex;  border: 1px solid black; padding: 5px; font-size: 35px; background-color: azure; border-radius: 7px; box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5); ; ">
    YAZILAR SAYFASI</h1>

<div class="container">
    <div class="row">
        @foreach (var blog in bloglist)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card">
                    <img src="@blog.Resim" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@blog.Baslik</h5>
                        <p class="card-text">@blog.Aciklama</p>
                        <p class="card-text"><small class="text-body-secondary">@DateTime.Now</small></p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>